.NavbarItems{
  background: black;
  height: 4em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1em;
  padding-top:.5em ;
  padding-bottom: .5em;
  position: sticky; /* Sticky/fixed navbar */
  top: 0;
  z-index: 20;
}

.nav-div-top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-logo{
  color: gold;
  font-size: 1.5em;
}


.nav-menu{
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  color: white;
  font-size: 1.5em;
}

.nav-items{
  display: grid;
  grid-template-columns: repeat(5, 4em);
  grid-gap: 1px;
  list-style: none;
  color: white;
}

.register-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ba8759;
}

.register-page{
  display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding:3em 20em 20em 20em;
    background-color:#ba8759 ;
}

.input{
  padding: 1em;
  margin-bottom: 1.5em;
  border-radius: 7px;
}
.register-button{
  padding: 1em;
  border-radius: 5px;
  background-color:black ;
  color: white;
}

.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 1065px;
  height: 570px;
  border-radius: 10px;
  object-fit: cover;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

