.NavbarItems {
  background: black;
  height: 6em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  position: sticky; /* Sticky/fixed navbar */
  top: 0;
  z-index: 20;
}

.NavbarItems .nav-top .search:hover{
  display: flex;
  justify-content: flex-end;
width: 500px;
}

.nav-div-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* LOGO */
.navbar-logo {
  color: gold;
  font-size: 1.5em;
}

/* MENU WITH CATEGORIES */
.nav-bottom {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  color: white;
  font-size: 1.5em;
  text-decoration: none;

}

/* MENU WITH LOGIN INFO */
.nav-top {
  display: flex;
  width: 100%;
  /* grid-template-columns: repeat(5, 4em);
  grid-gap: 1px; */
  justify-content: flex-end;
  list-style: none;
  color: white;
 
}

.nav-top-list{
  text-decoration: none;
  color: inherit;
}

.nav-top li{
  margin: 0 1rem;
}

/* REGISTER */
.register-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ba8759;
}

.register-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 3em 20em 20em 20em;
  background-color: #ba8759;
}

.input {
  padding: 1em;
  margin-bottom: 1.5em;
  border-radius: 7px;
}
.register-button {
  padding: 1em;
  border-radius: 5px;
  background-color: black;
  color: white;
}

/* SLIDING IMAGE/ HOME PAGE */
.home-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 2em;
  
}
.home-picks{
font-size: 2em;
}
.home-newlyAdded{
  font-size: 2em;
}

.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 1350px;
  height: 700px;
  border-radius: 10px;
  object-fit: cover;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

/* RENT PAGE */
.rent-page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 2em;
  margin-bottom: 2em;
}

.rent-image{
  border: 1px solid;
  max-height: 20em;
  max-width: 20em;
  
}

.img-uploaded{
  width:60%;
   height:60%;
   object-fit: scale-down;
}

.listed-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list-item-input{
  padding: 1em;
  margin-bottom: 1.5em;
  border-radius: 7px;
  width: 40em;
}

.listed-button{
  padding: 1em;
  border-radius: 5px;
  background-color: black;
  color: white;
}

.review-listing{
  border: 2px solid;
  padding: auto;
}

/* CATEGORIES CSS */

.category-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  padding: 1em 1em 1em 0.5em;
}

.container-img{
  object-fit: fill;
  width: 100%;
}


.category-product{
  border: 2px black solid;
  border-radius: 10px;
}