*{
  box-sizing: border-box;
}

.checkout-container{
height: 400px;
display: flex;
flex-direction: column;
justify-content: flex-start;
gap: 1em;
padding-left: 5em;
padding-right: 5em;
}

.cartItem{
  border: 1px solid black;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 7em

  /* margin: 0 auto; */
  /* width: 800px; */
}

.checkoutIMG .product-img {

  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.checkoutInfo{
  /* width: 10rem; */
  display: flex;
}

.ItemTitle{
  text-transform: capitalize;
  display: flex;
  /* flex: 1; */
  gap: 130px;
  padding: 10px
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
}


div.ItemTitle {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.checkoutInfo p{
  padding: 10px;
  font-size: 1.5rem;
}

.product-img{
  object-fit: contain;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;


}
img.product-img {
  padding-top: 1em;
}
.checkout-submit{
  display: block;
  margin: 0 auto;
  padding: 15px;
  border-radius: 5px;
  border: none;
  background-color: bisque;
  color: rgb(180, 121, 10);
}