* {
  box-sizing: border-box;
}

/* div wrapper */
.item-product {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

/* image */
.item-product .itemImage {
  width: 400px;
}

/* separates image from other items */
.main {
  align-items: center;
  margin-left: 20px;
}

/* name and location box */
.nameLocation {
  display: flex;
  border: 2px solid black;
  border-radius: 5px;
}

.nameLocation h4 {
  padding: 10px;
}

/* item information */
.itemInfo {
  margin-top: 20px;
  padding: 15px;
  border: 2px solid black;
}

.itemDescription ul {
  padding-left: 20px;
}

.upperCase {
  text-transform: capitalize;
  list-style-type: circle;
}

.itemInfo .itemName,
.itemPrice {
  margin: 10px 0;
}

/* dropdown */
.DropDown {
  margin-top: 20px;
}

.DropDown h4 {
  margin-bottom: 20px;
}

.list-item-input {
  background: none;
}

/* button */
.addtoCart {
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  background: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/* otherproduct css */
.More {
  margin: 30px 0;
  text-transform: uppercase;
}

.moreFromUser {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.moreFromUser img{
  height: 25rem;
  width: 100%;
  margin-right:2em ;
}

.otherProduct-img {
  height: 500px;

  /* flex-wrap: wrap;
  justify-content: space-between; */
}
